{% load static %}
<div class="flex-container">
    <div class="media px-3 pt-3" style="height:6rem">
        <img class="img-fluid"
             height="80"
             width="80"
             src="{% get_media_prefix %}images/default.jpg"
             alt="temp">
        <div class="media-body w-100" style="height:100% width:100%">
            <h3 class="px-5">
                <a href="{% url 'recipe-detail' recipe.slug %}">{{ recipe.title|title }}</a>
            </h3>
            <div class="pl-5">
                {% if recipe.author.username is None %}
                    <p>{{ recipe.created_date|date:"M d, Y" }}</p>
                {% else %}
                    <p>
                        <a href="{% url 'user-detail' recipe.author.username %}">{{ recipe.author.username }}</a>, {{ recipe.created_date|date:"M d, Y" }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="px-3">
        <hr>
    </div>
    <div class="px-3 pb-3">{{ recipe.excerpt }}</div>
</div>
