{% extends "base_layout.html" %}
{% load static %}

{% block title %}
    Delete Recipe
{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="container card py-5 px-5 mt-5">
        <form method="post" class="form-signup">
            {% csrf_token %}
            <h3 class="py-2">Are you sure you want to delete recipe {{ recipe }}?</h3>
            <button class="btn btn-danger" type="submit">Delete</button>
            <a class="btn btn-success" href="{% url 'recipe-detail' recipe.slug %}">Go back</a>
        </form>
    </div>
{% endblock content %}
