<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">DishRecipes</a>
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'recipe-list' %}">Recipes</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'users' %}">Users</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" href="{% url 'recipe-create' %}">New Recipe</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'user-recipes' user.username %}">Your Recipes</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'user-detail' user.username %}">Your Profile</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="navbar-item">
                    <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% include "messages.html" %}
</header>
