{% extends "base_layout.html" %}

{% block title %}
    {{ user_data.username }}
{% endblock title %}

{% block content %}
    {% if user.is_authenticated and user.username == user_data.username %}
        <div class="container card py-3 px-3 my-5 accordion"
             id="accordionProfileSettings">
            <div id="headingProfileSettings">
                <button class="btn btn-block btn-outline-info text-left"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseProfileSettings"
                        aria-expanded="true"
                        aria-controls="collapseProfileSettings">Open profile settings</button>
            </div>
            <div id="collapseProfileSettings"
                 class="collapse"
                 aria-labelledby="headingProfileSettings"
                 data-parent="#accordionProfileSettings">
                <div class="card-body">
                    <div class="list-group" style="width:20rem">
                        <a class="list-group-item list-group-item-action list-group-item-primary"
                           href="{% url 'user-profile-update' user_data.username %}">Update profile</a>
                        <a class="list-group-item list-group-item-action list-group-item-primary"
                           href="{% url 'password_change' %}">Change account password</a>
                    </div>
                    <div class="list-group pt-2" style="width:20rem">
                        <a class="list-group-item list-group-item-action list-group-item-danger"
                           href="{% url 'user-deactivate' user_data.username %}">Deactivate account</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container card py-3 px-3 my-5">
        <h5><a href="{% url 'user-recipes' user_data.username %}">{{ user_data.username }}'s recipes</a></h5>
    </div>
    <div class="container card py-3 px-3 my-5">
        <div class="media" style="height:10rem">
            <img class="img-fluid"
                 style="height:100%"
                 height="200"
                 width="200"
                 src="{{ user_data.profile_image_url_or_default }}"
                 alt="{{ user_data.username }}'s profile picture">
            <div class="media-body">
                <h1 class="px-5">{{ user_data.username }}</h1>
                <div class="px-5">
                    <hr>
                    <p>Joined: {{ user_data.date_joined|date:"M d, Y" }}</p>
                    <p>Last activity: {{ user_data.last_login|date:"M d, Y" }}</p>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <p>{{ user_data.profile_bio|linebreaks }}</p>
        </div>
    </div>
{% endblock content %}
